{% extends "app/layout.html" %}

{% block content %}
    
<h1>Dispositivos de Captura de Dados Multimodais</h1>
<form method="get">
    <div class="form-group">
        <label for="codigo">Código: </label>
        <input type="text" class="form-control tamanho90" id="codigo" name="codigo" />
    </div>
    <button type="submit" class="btn=btn-success">Pesquisar</button>
</form>
<p style="text-align: right"><a class="btn btn-primary" href="{% url 'dispositivos_captura_novo' %}">Cadastrar Novo Dispositivo</a></p>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Nome
        </th>
        <th>
            Ações
        </th>
    </tr>
    {% for item in dispositivos_captura %}
    <tr>
        <td>
            {{item.codigo}}
        </td>
        <td>
            {{item.nome}}
        </td>
        <td>
            <a class="btn btn-warning" href="{% url 'dispositivos_captura_alterar' codigo=item.codigo %}">Alterar</a>
            <a class="btn btn-danger" href="{% url 'dispositivos_captura_deletar' codigo=item.codigo %}">Deletar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}