{% extends "app/layout.html" %}

{% block content %}
    
<h1>Jogos Digitais</h1>
<form method="get">
    <div class="form-group">
        <label for="codigo">Código: </label>
        <input type="text" class="form-control tamanho90" id="codigo" name="codigo" />
    </div>
    <button type="submit" class="btn=btn-success">Pesquisar</button>
</form>
<p style="text-align: right"><a class="btn btn-primary" href="{% url 'jogos_digitais_novo' %}">Cadastrar Novo Jogo Digital</a></p>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Título
        </th>
        <th>
            Ações
        </th>
    </tr>
    {% for item in jogos_digitais %}
    <tr>
        <td>
            {{item.codigo}}
        </td>
        <td>
            {{item.titulo}}
        </td>
        <td>
            <a class="btn btn-warning" href="{% url 'jogos_digitais_alterar' codigo=item.codigo %}">Alterar</a>
            <a class="btn btn-danger" href="{% url 'jogos_digitais_deletar' codigo=item.codigo %}">Deletar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}